---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Moving Shader</title>
  </head>
  <body>
    <h1>Moving Shader</h1>
    <canvas id="canvas" data-canvas></canvas>
  </body>
</html>

<script>
  import * as THREE from "three";

  const canvas = document.querySelector("[data-canvas]");
  const scene = new THREE.Scene();
  const camera = new THREE.PerspectiveCamera(
    75,
    window.innerWidth / window.innerHeight,
    0.1,
    1000
  );
  if (!canvas) {
    throw new Error("Canvas not found");
  }
  const renderer = new THREE.WebGLRenderer({
    canvas,
    alpha: true,
    antialias: true,
  });
  renderer.setSize(window.innerWidth, window.innerHeight);
  renderer.setPixelRatio(Math.min(window.devicePixelRatio, 1));
  camera.position.z = 5;

  tick();
  // Update Loop
  function tick() {
    renderer.render(scene, camera);
    requestAnimationFrame(tick);
  }
</script>

<style lang="scss" scoped>
  body {
    padding: 1rem;
    color: white;
  }

  canvas {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #2a66c9;
  }
</style>
