---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Moving Shader</title>
  </head>
  <body>
    <h1>Moving Shader</h1>
    <div id="reference" data-element></div>
    <canvas id="canvas" data-canvas></canvas>
  </body>
</html>

<script>
  import Experience from "~/webgl/experience";

  const experience = new Experience();
  experience.init();
</script>

<style lang="scss" scoped>
  body {
    padding: 1rem;
    color: white;
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
  }

  #reference {
    position: absolute;
    width: 20%;
    height: 60%;
    // background: white;
  }

  canvas {
    position: fixed;
    transform: scale(0.5);
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // background: #2a66c9;
  }
</style>
